---
<!-- title: Index page -->

sliderGallery:
 - img: img/photo.png
 - img: img/photo-2.png
 - img: img/photo.png
 - img: img/photo-zoom.png

sliderGalleryBig:
 - img: img/big-photo.png
 - img: img/photo.png
 - img: img/photo-2.png
 - img: img/product-zoom.jpg

slider:
 - img: img/product-1.png
   name: LEATHER BAG
   group: Bag
   price: $78
 - img: img/product-2.png
   name: GIFT BOX COLORS
   group: Gift
   price: $78
 - img: img/product-4.png
   name: FLYKNIT LUNAR 3
   group: Running Shoes
   price: $78
 - img: img/product-3.png
   name: WALLETS LEATHER
   group: Accessories
   price: $78
 - img: img/product-5.png
   name: GIFT BOX COLORS
   group: Running Shoes
   price: $78
 - img: img/product-1.png
   name: LEATHER BAG
   group: Bag
   price: $78
 - img: img/product-2.png
   name: GIFT BOX COLORS
   group: Gift
   price: $78
 - img: img/product-4.png
   name: FLYKNIT LUNAR 3
   group: Running Shoes
   price: $78
 - img: img/product-3.png
   name: WALLETS LEATHER
   group: Accessories
   price: $78
 - img: img/product-5.png
   name: GIFT BOX COLORS
   group: Running Shoes
   price: $78
---
 
{% extends "layouts/_layout.html" %}
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<!-- {# variable example #}
	<h1>{{title}}</h1>-->
	
	{% include "partials/_header.html" %}
	{% include "partials/_content.html" %}

{% endblock %}
