<!-- begin section -->
<div class="section">
	<div class="container">
		<div class="content">
			<div class="section__left">
				<div class="gallery-product">
					<div class="gallery-nav js-gallery-nav">
						{% for item in sliderGallery %}
						<div class="gallery-nav__item">
							<img src="{{item.img}}" alt="photo">
						</div>
						{% endfor %}			
					</div>
					<div class="gallery js-gallery">
						{% for item in sliderGalleryBig %}
						<div class="gallery__item">
							<img src="{{item.img}}" alt="photo">
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="section__right">
				<div class="product-info">
					<a href="#" class="product-info__link">
						<img src="img/man-icon.png" alt="" class="man-icon">
						<span>Men Clothes > Coat & Jacket</span>
					</a>
					<div class="product-info__title">
						<h2 class="h2">Lightweight nylon knitweat in black</h2>
					</div>
					<div class="product-info__price">$48.00</div>
					<div class="product-info__description">
						<h3 class="h3 h3_mar">Description</h3>
						<div class="textual">
							<p>
								Cras efficitur iaculis sapien, ve l tincidunt magnaegestas at. Nunc finibus, metus 	id fermentum. Cras efficitur iaculis sapien, vel tincidunt magna egestas at, vel tincidunt magna 		egestas at cras effcitur.
								<br>
								Cras efficitur iaculis sapien, vel tincidunt magna egestas at. Nunc finibus, metus id fermentum.
							</p>
						</div>
					</div>
					<div class="product-info__colors">
						<h3 class="h3 h3_marb">Colors</h3>
						<div class="colors">
							{{ mixins.colorsSelect ( 'colors__select_blue', 'colors' , type = 'radio', 'blue' , '1' , 'blue' , 'Blue' ) }}
							{{ mixins.colorsSelect ( 'colors__select_brown', 'colors' , type = 'radio', 'brown' , '2' , 'brown' ,  'Brown' ) }}
						</div>
					</div>
					<button class="button">Buy now - $78</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end section -->
<div class="footer">
	<h4 class="h4">We thought</h4>
	<h5 class="footer__title">You might like these too...</h5>
	<!-- begin inner-slider -->
	<div class="inner-slider js-inner-slider">
		{% for item in slider %}
		<a href="#" class="inner-slider__item">
			<img src="{{item.img}}" alt="product">
			<div class="section product">
				<div class="section__left">
					<div class="product__name">{{item.name}}</div>
					<div class="product__group">
						<h4 class="h4">{{item.group}}</h4>
					</div>
				</div>
				<div class="section__right">
					<div class="product__price">{{item.price}}</div>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
<!-- end inner-slider -->
</div>