<!-- <p>Hello from partials/_header.html</p>
-->
<!-- begin header -->
<div class="header js-background">
	<div class="container">
		<!-- begin header-top -->
		<div class="header-top">
			<div class="header-top__left">
				<div class="logo">
					<a href="#">
						<img src="img/logo.png" alt="logo"></a>
				</div>
				<ul class="nav">
					<li class="nav__item is-active">
						<a href="#" class="nav__link">Home</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Products</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Lookbook</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Colection</a>
					</li>
				</ul>
			</div>
			<div class="header-top__right">
				<div class="products-item">
					<a href="#" class="products-item__name">Bag</a>
					<a href="#" class="products-item__number">3</a>
				</div>
				<div class="account">
					<a href="#" class="account__login">Login</a>
					<span>|</span>
					<a href="#" class="account__sing-upe">Sing up</a>
				</div>
			</div>
			<!-- </div>-->
		</div>
		<!--end header-top-->
		<!-- begin header-bottom -->
		<div class="header-bottom">
			<div class="menu-mobile">
				<div class="hamburger">
					<span></span>
				</div>
				<button class="cross"></button>
				<button class="cross"></button>
				<ul class="nav-mobile">
					<li class="nav-mobile__item">
						<a href="#" class="nav__link is-active">Home</a>
					</li>
					<li class="nav-mobile__item">
						<a href="#" class="nav__link">Products</a>
					</li>
					<li class="nav-mobile__item">
						<a href="#" class="nav__link">Lookbook</a>
					</li>
					<li class="nav-mobile__item">
						<a href="#" class="nav__link">Colection</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- end header-bottom -->
	</div>
</div>
<!-- end header -->
